<div style="padding-top: 50px; background-color: #F0FAFD;">
    @using (Ajax.BeginForm("ChangePassword", "Login", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "contentDiv" }))
    {
        @Html.AntiForgeryToken()

        <div>
            <table class="formTable">
                <tr>
                    <td width="40%" align="right"><label>新密码：</label></td>
                    <td width="60%">
                        <input type="password" name="newPwd" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><label>确认密码：</label></td>
                    <td>
                        <input type="password" name="confirmPwd" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="operationArea">
            <input name="button_save" type="submit" id="button_save" value="确定" class="btn btn-primary btn-large" />
            &nbsp;&nbsp;
            @Html.ActionLink("取消", "Index", "Home", null, new { @class = "btn btn-primary btn-large" })
        </div>

        if (!string.IsNullOrEmpty(ViewBag.SuccessMsg))
        {
            <span class="greenColorText">&radic;&nbsp;@ViewBag.SuccessMsg</span>
        }

        @Html.ValidationSummary(true, "", new { @class = "redColorText" })
    }
</div>